{% set m = metadata %}
{% if platform == 'Linux' %}
[[runners]]
  name = "{{runner.name}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "shell"
  pre_build_script = """set -e
  WD=$HOME/.epm/.workbench/{{m.workbench}}/{{ m.kind }}/{{ runner.id }}
  source $WD/venv/bin/activate
  python $WD/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{m.workbench}}/{{ m.kind }}/{{runner.id}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
{%- elif platform == 'Windows' -%}
[[runners]]
  name = "{{runner.name}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "shell"
  shell = "powershell"
  pre_build_script = """
  $WD=$HOME/.epm/.workbench/{{m.workbench}}/{{m.kind }}/{{ runner.id }}
  $WD/venv/Script/activate
  python $WD/script/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{m.workbench}}/{{ m.kind }}/{{runner.id}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]

{% endif %}
