{% set m = metadata %}
{% if m.platform == 'Linux' %}
[[runners]]
  name = "{{runner.description}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "docker"
  pre_build_script = """set -e
  WD=$HOME/.epm/.workbench/{{m.workbench}}/{{ m.kind }}/{{runner.id}}
  chmod +x $WD/script/pre_build.py
  $WD/script/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{m.workbench}}/{{m.kind}}/{{runner.id}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
{% elif m.platform == 'Windows' %}
[[runners]]
  name = "{{runner.description}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "shell"
  shell = "powershell"
  pre_build_script = """
  $WD=$HOME/.epm/.workbench/{{m.workbench}}/{{m.kind }}/{{runner.id}}
  python $WD/script/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{m.workbench}}/{{m.kind}}/{{runner.id}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]

{% endif %}