workbench:
  name: {{bundle.name}}

conan:
  storage: ${workbench}/data
  remotes:
  - name: {{bundle.name}}
    url: {{bundle.remote}}

{%- set stop=True -%}
{% for b in  config.bundle | reverse %}
{%- if not stop -%}
  - name: {{b.name}}
    url: {{b.remote}}
{%- endif -%}

{%- if b.name == bundle.name -%}
{%- set stop=True -%}
{%- endif -%}

{% endfor %}

environment:
  EPM_MIRROR_MSYS2: {{config.environment.EPM_MIRROR_MSYS2}}
