workbench:
  name: {{bundle.workbench}}/{{config.runner}}

conan:
{% if config.host == 'Windows' %}
  storage: C:/CI/{{bundle.workbench}}/{{config.runner}}/data
  short_path: C:/CI/{{bundle.workbench}}/{{config.runner}}/short
{% else %}
  storage: /tmp/CI/{{bundle.workbench}}/{{config.runner}}/data
{% endif -%}
  remotes:
  - name: {{bundle.name}}
    url: {{bundle.remote}}
{% if config.runner != 'deployer' %}    
{% for it in deps %}
  - name: {{it.name}}
    url: {{it.remote}}
{% endfor -%}
{% endif -%}
environment:
  EPM_MIRROR_MSYS2: http://172.16.0.119/mirrors/msys2

