.epm
.conan
source_subfolder
.conan
.vscode
*.egg-info
/test
/gettext/test_package/ru
/gettext/test_package/en
/gettext/test_package/es
.logs
__pycache__
epm.log
/libgettext/test_package/en
/libgettext/test_package/es
/libgettext/test_package/ru
excludes.yml
/mirrors.yml
/.stages
/.gitlab-ci/main.yml
.idea
/built.yml
.workbench
.toolkit/oss_utils/oss_utils.egg-info/SOURCES.txt
