workbench:
  name: {{workbench}}

conan:
  storage: ${workbench}/data
  remotes:
{% for r in remote %}
  - name: {{r['name']}}
    url: {{r['url']}}
{% endfor %}
{% if environment %}
environment:
{% for name, value in environment.items() %}
  {{name}}: {{value}}
{% endfor %}
{% endif %}
