{% if platform == 'Linux' %}
[[runners]]
  name = "{{description}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "docker"
  pre_build_script = """set -e
  WD=$HOME/.epm/.workbench/{{workbench}}
  chmod +x $WD/script/pre_build.py
  $WD/script/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{workbench}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
{% elif platform == 'Windows' %}
[[runners]]
  name = "{{description}}"
  url = "{{ url }}"
  token = "{{ token }}"
  executor = "shell"
  shell = "powershell"
  pre_build_script = """
  $ENV:USERNAME={{ansible_ssh_user}}
  $ENV:USERPROFILE={{ansible_env.USERPROFILE}}
  $WD={{ansible_env.USERPROFILE}}/.epm/.workbench/{{workbench}}
  .$WD/venv/Scripts/Activate.ps1
  python $WD/script/pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8", "EPM_WORKBENCH={{workbench}}"]
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]

{% endif %}

