{% set tool_layout = synthesis.tool_layout %}
{% set layout = synthesis.layout -%}
stages:
- prepare
{% for i in range(1, tool_layout|length + 1) -%}
  - T{{ i }}
{% endfor  -%}
{% for i in range(1, layout|length + 1) -%}
  - L{{ i }}
{% endfor  -%}
# -------------------------------------
# Generate package config for gitlab ci
# -------------------------------------
package.generate:
  stage: prepare
  tags:
    - gitlab-ci.config.generator
  script:
    - pip install networkx python-gitlab
    - .toolkit/bin/gitlab-ci generate --target package
  artifacts:
    paths:
      - .gitlab-ci/cache/*.yml

# -------------------------------------
# Build tools and deps package
# -------------------------------------
{% for i in range(tool_layout|length) -%}
{%- set layer = tool_layout[i] -%}
{%- set index = i + 1 -%}
{% for name in layer -%}

{%- set package = synthesis.package[name] -%}
{%- set suffix = '' if package.config.tool else '.tool' -%}
{# % #}
{{ package.name }}{{ suffix }}:
  stage: T{{ index }}
  trigger:
    include:
      - artifact: .gitlab-ci/cache/{{ package.name }}{{ suffix }}.yml
        job: package.generate
    strategy: depend
{% endfor %}
{% endfor  -%}



# -------------------------------------
# OSS package
# -------------------------------------
{% for i in range(layout|length) -%}
{%- set layer = layout[i] -%}
{%- set index = i + 1 -%}
{% for name in layer -%}

{%- set package = synthesis.package[name] -%}
{# % #}
{{ package.name }}:
  stage: L{{ index }}
  trigger:
    include:
      - artifact: .gitlab-ci/cache/{{ package.name }}.yml
        job: package.generate
    strategy: depend
{% endfor %}
{% endfor  -%}

