{% if platform == 'Linux' %}
[[runners]]
  name = "Linux builder {{hostname}}/{{workbench}}"
  url = "{{url}}"
  token = "{{token}}"
  executor = "docker"
  pre_build_script = """set -e
  sudo chown -R $(id -u):$(id -g) /workbench
  mkdir -p $HOME/.epm/.workbench
  WD=$HOME/.epm/.workbench/{{workbench}}
  ln -s /workbench $WD  
  chmod +x $WD/script/builder_pre_build.py
  $WD/script/builder_pre_build.py
  """
  environment = ["LC_ALL=en_US.UTF-8"]
  [runners.docker]
    tls_verify = false
    image = "None"
    privileged = false
    disable_cache = false
    volumes = ["/cache", "{{HOME}}/.gitlab-runner/workbench/{{workbench}}/builder:/workbench"]
    pull_policy = "if-not-present"
    shm_size = 0
  [runners.cache]
{% endif %}

{% if platform == 'Windows' %}
{% endif%}