# =====================================================
#           {{ cname | replace("@", " ")}}
# =====================================================
{{name}}#{{cname}}#build:
  stage: build
  tags:
    - Windows
    - MSVC
    - builder
{%- for tag in tags %}
    - {{tag}}
{%- endfor %}
  artifacts:
    paths:
      - {{name}}/.epm
      - {{name}}/.conan
  script:
    - cd {{name}}
    {%- if scheme %}
    -  epm --runner shell --profile {{profile}} --scheme {{scheme}} create --archive .conan --clear
    {%- else %}
    -  epm --runner shell --profile {{profile}} create --archive .conan --clear
    {%- endif %}


{%- if test %}

{{name}}#{{cname}}#test:
  stage: test
  tags:
    - Windows
    - runner
{%- for tag in tags %}
    - {{tag}}
{%- endfor %}
  dependencies:
    - {{name}}#{{cname}}#build
  script:
    - cd {{name}}
{%- for cmd in test.script %}
    -  {{cmd}}
{%- endfor %}
{%- endif %}

{{name}}#{{cname}}#deploy:
  stage: deploy
  tags:
    - conan
    - deployer
{%- for tag in tags %}
    - {{tag}}
{%- endfor %}
  dependencies:
    - {{name}}#{{cname}}#build
  script:
    - cd {{name}}
    {%- if scheme %}
    -  epm --runner shell --profile {{profile}} --scheme {{scheme}} upload --storage .conan
    {%- else %}
    -  epm --runner shell --profile {{profile}} upload --storage .conan
    {%- endif %}

