workbench:
  name: {{workbench}}

conan:
  storage: ${workbench}/data
  remotes:
  - name: oss
    url: {{artifactory_api_url}}/artifactory/api/conan/oss-{{oss.version}}

{% if environment %}
environment:
{% for name, value in environment.items() %}
  {{name}}: {{value}}
{% endfor %}
{% endif %}
