
{%- if 'MSVC' in CTree -%}
{% set matrix = CTree | cmatrix('MSVC') %}
    # =================================
    # MSVC build
    # =================================
{{uname| default(package.name, true)}}:MSVC@build:
  stage: build
  tags:
  - Windows
  - builder
  - workbench:{{synthesis.config.workbench | default('oss-{}'.format(synthesis.version), true) }}
  artifacts:
    paths:
    - {{package.name}}/.conan/$EPM_PROFILE/$EPM_SCHEME
    - {{package.name}}/_out
  script:
  - cd {{package.name}}
  - epm create --archive .conan/$EPM_PROFILE/$EPM_SCHEME  {{'' if package.config.tool else '--with-deps'}} --clear
  parallel:
    matrix:
    - EPM_PROFILE: {{ matrix.profile | list }}
      EPM_SCHEME: {{ matrix.scheme | list }}
{%- endif -%}

{%- for name, config in CTree.items() -%}
{%- if name !=  'MSVC' %}
{% set matrix = CTree | cmatrix(name) %}
    # =========================================
    # {{name}} {{matrix.arch}} build
    # =========================================
{{uname| default(package.name, true)}}:{{name}}@build:
  stage: build
  tags:
  - Linux
  - builder
  - docker
  - workbench:{{synthesis.config.workbench | default('oss-{}'.format(synthesis.version), true) }}
  image: {{docker_registry_prefix | default('', true)}}edgetoolkit/{{name}}
  artifacts:
    paths:
    - {{package.name}}/.conan/$EPM_PROFILE/$EPM_SCHEME
    - {{package.name}}/_out
  script:
  - cd {{package.name}}
  - epm create --archive .conan/$EPM_PROFILE/$EPM_SCHEME {{'' if package.config.tool else '--with-deps'}} --clear
  parallel:
    matrix:
    - EPM_PROFILE: {{ matrix.profile | list }}
      EPM_SCHEME: {{ matrix.scheme | list }}
{%- endif -%}
{%- endfor -%}

