{% set Matrix = CTree | cmatrix %}
    # =================================
    # Deploy to conan repo
    # =================================
{{package.name}}@deploy:
  stage: deploy
  tags:
  - conan
  - deployer
  - workbench:{{synthesis.config.workbench | default('oss-{}'.format(synthesis.version), true) }}
{% if docker_registry_prefix %}
  image: {{docker_registry_prefix}}edgetoolkit/gcc5
{% endif %}
  dependencies:
{%- for m in Matrix %}
  - {{package.name}}:{{m.group}}@build
{%- endfor %}
  script:
  - cd {{package.name}}
{%- for m in Matrix -%}
{%- for profile in m.profile -%}
{%- for scheme in CTree | scheme_filter %}
  - epm -p {{profile}} -s {{scheme}} upload --storage .conan/{{profile}}/{{scheme}}
{%- endfor -%}
{%- endfor -%}
{%- endfor -%}


{#
  script: |
    set -e
    cd {{package.name}}
    PROFILES=(
{%- for m in Matrix %}
      {{ m.profile | join(' ') }}
{%- endfor %}
    )

    for profile in ${PROFILES[*]}
    do
      for scheme in {{ CTree | scheme_filter | join(' ') }}
      do
        export EPM_PROFILE=$profile
        export EPM_FPROFILE=$scheme
        echo [{{package.name}}] - Upload...  $profile $shcme
        epm upload --storage .conan/$profile/$scheme
      done
    done 
#}