
{%- if 'MSVC' in CTree -%}
{% set matrix = CTree | cmatrix('MSVC') %}
    # =================================
    # MSVC test
    # =================================
{{uname| default(package.name, true)}}:MSVC@test:
  stage: test
  tags:
  - Windows
  - runner
  - workbench:{{synthesis.config.workbench | default('oss-{}'.format(synthesis.version), true) }}
  dependencies:
  - {{package.name}}:MSVC@build
  script: |
  - cd {{package.name}}
  - $EPM_SANDBOX_STORAGE=".conan/$EPM_PROFILE/$EPM_SCHEME" 
{% for program in package.config.program['Windows'] %}        
  - .epm/$EPM_PROFILE@$EPM_SCHEME/sandbox/{{program}}
{% endfor %}    
  parallel:
    matrix:
    - EPM_PROFILE: {{ matrix.profile | list }}
      EPM_SCHEME: {{ matrix.scheme | list }}
{%- endif -%}



{%- for name, config in CTree.items() -%}
{%- if name !=  'MSVC' %}
{% set matrix = CTree | cmatrix(name) %}
{% if matrix.image %}
    # =========================================
    # {{name}} {{matrix.arch}} test
    # =========================================
{{uname| default(package.name, true)}}:{{name}}@test:
  stage: test
  tags:
  - Linux
  - runner
  - docker
  - workbench:{{synthesis.config.workbench | default('oss-{}'.format(synthesis.version), true) }}
  image: edgetoolkit/{{matrix.image}}
  dependencies:
  - {{package.name}}:{{name}}@build
  script:
  - cd {{package.name}}
  - export EPM_SANDBOX_STORAGE=".conan/$EPM_PROFILE/$EPM_SCHEME"    
{% for program in package.config.program['Linux'] %}        
  - .epm/$EPM_PROFILE@$EPM_SCHEME/sandbox/{{program}}
{% endfor %}    
  parallel:
    matrix:
    - EPM_PROFILE: {{ matrix.profile | list }}
      EPM_SCHEME: {{ matrix.scheme | list }}
{%- endif -%}
{%- endif -%}
{%- endfor -%}

